/* iframe 내 뷰페이지 기본 설정  */
body {
	margin: 0;
	width: 100%;
	height: 100%;
}
/*초기화*/
.viewBody {
	padding: 10px;
	background: transparent;
	min-height: inherit;
}
/*iframe 크기 및 위치*/

.box1 {
	padding: 5px;
	background: white;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: rgb(210, 214, 222);
	border-image: initial;
	border-top: 3px solid rgb(210, 214, 222);
	margin-bottom: 20px;
}
/*회색 테두리 박스*/

.box2 {
	padding: 5px;
	background: white;
	border: 1px solid black;
	margin-bottom: 20px;
}
/*검은색 테투리*/

.box3 {
	padding: 5px;
	background: white;
	border-width: 3px 1px 1px;
	border-style: solid;
	border-color: rgb(210, 214, 222);
	border-image: initial;
	border-top: 3px solid 1f84bf;
	margin-bottom: 20px;
}

.center {
	width: 20px;
	text-align: center;
}

.pdDetail {
	margin-bottom: 5px;
	margin-left: 254px;
	margin-top: 5px;
}


#pdEdit2 {
	clear: both;
	border: 1px solid;
	width: 265px;
	height: 200px;
	margin: 0;
	float: left;
}

#pdEdit3 {
	float: left;
	width: 280px;
	border: 1px solid;
	height: 200px;
}

#editSubmit {
	clear: both;
	float: left;
	margin-left: 480px;
	margin-top: 15px;
}

.row{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*행 스타일 */


#map {
	display:none;
}